IDI_ICON1           ICON   DISCARDABLE  "Minecode.ico"

#if defined(UNDER_CE)
#include <winbase.h>
#else
#include <winver.h>
#endif
 
VS_VERSION_INFO VERSIONINFO
 
    FILEVERSION 3,1,4,72
    FILEFLAGSMASK 0x3fL
 
#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif
    FILEOS VOS__WINDOWS32
    FILETYPE VFT_DLL
    FILESUBTYPE 0x0L
    BEGIN
 
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "080404b0"//Simplified Chinese, Unicode
            BEGIN
 
                VALUE "FileDescription", "Exzh Minecode Studio"
                VALUE "LegalCopyright", "Copyright (C) 2018 Exzh_PMGI"
				VALUE "LegalTrademarks","Licensed by LGPLv3"
                VALUE "OriginalFilename", "Minecode.exe"
                VALUE "ProductName", "Exzh Minecode Studio"
                VALUE "ProductVersion", "v3.1.4"
				VALUE "CompanyName", "Exzh_PMGI"
				VALUE "Comments", "Main process of Exzh Minecode Studio"
				VALUE "InternalName","Exzh Minecode Studio"
 
            END
        END
 
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x804, 1200 //Simplified Chinese, Unicode
        END
    END
